@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Crud MVC </h1>
    <p>Para ver mas proyectos <a href="https://github.com/Geinersb">puede visitar mi portafolio</a>.</p>
</div>
